



<h4>This will be the home view with an a la Google search bar</h4>





                                

<!--Mask-->
    <!-- <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="black-text text-center wow fadeInUp">
                    <h2>This Navbar isn't fixed</h2>
                    <h5>When you scroll down it will disappear</h5>
                    <br>
                    <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
                </div>
            </div>
        </div>
    </div> -->
<!--/.Mask-->

<!--Navigation & Intro-->

<!--Main layout-->
<!-- <main class="pt-6 text-center">
    <h2>Your content</h2>
</main> -->
<!--/Main layout-->
 
