

/* Navigation Styles */

/* Home View Styles */

html,
body,
header,
.view {
    /*height: 100%;*/
}
/* Navigation*/

.navbar {
    background-color:;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .8em;
    letter-spacing: 0.1em;

}
/*Intro*/
.view {
    background: 
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Search Bar */

/* Body */

body.ng-scope {
	font-family: 'Open Sans Condensed', sans-serif; 
}