


/* Navigation Styles */

.nav-item {
    padding-top: 10px;
}

.waves-effect, a {
    -webkit-tap-highlight-color: #f0ad4e;
}







/* Home View Styles */

html,
body,
header,
.view {
    /*height: 100%;*/
}
/* Navigation*/

.navbar {
    background-color:;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.4em;
    letter-spacing: 0.1em;

}
/*Intro*/
.view {
    background: 
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Search Bar */

/* Body */

body.ng-scope {
	font-family: 'Montserrat-Regular', sans-serif; 
}

h6 {
    font-family: 'Montserrat-ExtraLight', sans-serif;
    font-size: .8em;
}

p.card-text.ng-binding {
    font-family: 'Montserrat-ExtraLight', sans-serif;
    font-weight: 100;
    font-size: 12.5px;
    font-style: italic;
}

div.card-block {
    background-color: #F5F5F5;
}

h1.section-heading {
    font-family: 'GrandHotel-Regular';
    font-size: 55px;
}

h5.card-title.ng-binding {
    font-family: 'Montserrat Alternates', sans-serif;
}

h3,
h3.card-title {
    font-family: 'GrandHotel-Regular';
}

a.btn-floating.btn-small {
    background-color: #80cbc4;
}


/* Home View Logo */

#logo {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}